# Credenciais de Administrador
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=sua_senha_aqui

# Configurações de Porta
API_PORT=3001

# URL da API (opcional - pode ser útil para produção)
VITE_API_URL=http://localhost:3001
